<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springBoot.mapper.ProductorMapper">

    <resultMap type="com.springBoot.entity.Librarian" id="LibrarianMap">

        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="userName" property="useName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="position" property="position" jdbcType="VARCHAR" />

    </resultMap>



    <select id="selectLibrarian"  resultType="com.springBoot.entity.Librarian">
        select *
        from test
        where 1=1
            and id = #{id}
    </select>



</mapper>